
.tl-kv2{
	height: auto;
}

.style-SP{
	margin-top: auto;
	margin-left: 18px;
	border: none;
}
.style-SP:hover{
	border:solid 1px;
	border-color: #DDDDDD;
}
.tl-kv span a{
	width: 40px;
	font-weight: bold;
	font-size: 16px;
	line-height:37.8px;
	color: #1DA1F2;
	text-decoration: none;
}
.tl-kv span a:hover{
	color: #879688;
}


