body{
	font-family:Arial, Helvetica,sans-serif;
	padding: 0px;
	height: 0px;
}
.style-home{
	width: 1170px;
	height: 3670px;
	margin: auto;
	margin-top: 30px;
}
.menu-style{
	width: 270px;
	border:solid 1px;
	border-color: #DDDDDD;
}
.menu-dm{
	width: 100%;
	height: 45px; 	
	background-color: #0881B9;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	position: relative;
	bottom: 17px;
}
.icon{
	width: 45px;
	height: 45px;
	background-color: #045A82;
}
.icon-menu{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 13px;
}
.dms{
	position: relative;
	bottom: 49px;
	left: 55px;
}
/* thể loại*/
.tl-style{
	width: 270px;
	height: auto;
	position: relative;
	bottom: 15px;
}

#menu-dm ul{
	width: 270px;
	padding: 0px;
	list-style-type: none;
	margin: 0px;
	
}
#menu-dm ul li{
	width: auto;
	height: 37px;
	line-height:37px;
	text-align: center;
	text-transform: uppercase;
}
#menu-dm ul li a{
	color: #3b5998;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
#menu-dm ul li a:hover{
	background:#EEEEEE;
	color: #009688;
}

/* hiệu ứng hình ảnh*/
img{
	width: 870px;
    height: 350px;
}
.slides {
    padding: 0;
    width: 870px;
    height: 350px;
    display: block;
    position: relative;
    bottom: 616px;
    margin-left: auto;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

      opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
.bn-st{
	width: 1170px;
	height: 600px;
	margin: auto;
	
}
.sa-st{
	width: 1170px;
	height: auto;
}
.tl-st{
	width: 100%;
	height: 443px;
}
.tl-kv{
	margin-top: 37px;
	width: 100%;
	height: 37.8px;
	border:solid 1px;
	border-bottom-width: 1.5px;
	border-color: #DDDDDD;
	text-align:center;
	font-size:25px;
	font-weight: bold;
}
.tl-kv2{
	margin-top: 37px;
	width: 100%;
	height: 375px;
	border:solid 1px;
	border-color: #DDDDDD;
}
.style-SP{
	width: 195px;
	height: 342px;
	height: auto;
	border:solid 1px;
	border-color: #DDDDDD;
	display: inline-block;
	text-align: center;
	margin-right: 14.3px;
	margin-top: 50px;
}
.img-c{
	width: 870px;
	height: 126.69px;
}
.img-div{
	width: 870px;
	height: 126.69px;
	margin-left: auto;
	position: relative;
	bottom: 600px;
}
.img-div1{
	position: relative;
	bottom: 570px;
}
.img-div1 img{
	width: 364px;
	height: 104px;
	border:solid;
	border-color: #DDDDDD;
	margin-left: 18px;
}
.img-div1 img:hover{
	border-color: #879688;
}
.div-content{
	position: relative;
	bottom: 575px
}
.div-img2{
	height: 73px;
	border:solid 1px;
	border-color: #DDDDDD;
	position: relative;
	bottom: 530px;
}
.div-img2 img{
	width: 225px;
	height: 65px;
}
.tr-footer{
	position: relative;
	
}