.search-kv{
	width: 1170px;
	height: 700px;
	margin: auto;
}
.search-sp{
	width: 195px;
	height: 342px;
	height: auto;
	border:solid 1px;
	border-color: #DDDDDD;
	display: inline-block;
	text-align: center;
	margin-right: 14.3px;
	margin-top: 50px;
}
img{
	width: 148px;
	height: 222px;
	max-width: 100%;
}