body{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer{
	margin-top: 0px;
	width: 100%;
	height:360px;
	background-color: #3CB7E7;

}
.footer-top{
	width: 1170px;
	height: 70px;
	background-color: #3CB7E7;
	margin: auto;
}
.fa-sty{
	width: 285px;
	height: 70px;
	background-color: #175F7B;
	text-align:  center;
	display: inline-block;
}

.fa-sty i{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 70px;
}
.fa-sty i:hover{
	color: #DDDDDD;
}
.footer-center{
	height: 257px;
	background-color: #EEE;
}

.div-ct{
	width: 1170px;
	height: 227px;
	margin: auto;
	padding-top: 16px;
}
.span-1{
	width: 300px;
	height:227px;
	border-right:solid 1px;
	border-color: #DDDDDD;
}
.span-1 div{
	height: 227px;
	width: 250px;
	margin: auto;
}

.span-1 p{
	font-weight: bold;
	font-size: 12px;
	color:#444444;
	height:auto;
}
.span-1 img{
	width: 250px;
	height: 66.66px;
}
.span-2{
	width: 300px;
	height:227px;
	border-right:solid 1px;
	border-color: #DDDDDD;
	position: relative;
	left: 330px;
	bottom: 230px;
}
.span-2 p{
	font-weight: bold;
	font-size: 12px;
	color: #227307;
}
.span-2 span{
	font-weight: 400;
	color: #000;
}
.span-3{
	width: 300px;
	height:227px;
	border-right:solid 1px;
	border-color: #DDDDDD;
	position: relative;
	left: 330px;
	bottom: 170px;
}
.span-3 p{
	font-size: 18px;
	font-weight: bold;
	color: #444;
}
.span-3 img{
	width: 230px;
	height: 130px;
	text-align: center;
}
.span-4{
	width: 300px;
	height:227px;
	position: relative;
	left: 640px;
	bottom: 397px;
	display: block;
	
}
.span-4 p{
	font-size: 18px;
	font-weight: bold;
	color: #444;
	margin-top: 0px;
	position: relative;
	left: 20px;
}
.span-4 a{
	font-weight: 400;
	font-size: 12px;
	color: #444;
	text-decoration: none;
}
.span-4 a:hover{
	color: #009688;
}
.footer-bottom{
	width: 100%;
	height: 33px;
	max-height: 22px;
	position: relative;
	top:12px;
	padding-bottom: 0px;
}
.footer-bottom p{
	font-weight: 400px;
	font-size: 12px;
	line-height: 8px;
}