body{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.header-style{
	height:204px;
	background-color:#0881B9;
}

.header-1{
	height:164px;
	background-color: #FFFFFF;
}
.header-top{
	height: 36px;
	max-height: 36px;
	background-color: #059DE8;
	margin-bottom: 24px;
}

.login{
	width: 273px;
	height: 25px;
	line-height: 25px;
	background-color:#ea3a3c;
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 1047px;
	position: relative;
	top: 6px;

}
.login a{
	text-decoration: none;
}
.login a:hover{
	color: #fff;
}

.header-center{
	width: 1170px;
	height:104px;
	background-color: #FFFFFF;
	margin:auto;
}
.hd-ct img{
	width: 300px;
	height: 80px;
	background-color:#eeeeee;
}
.div-lh{
	margin-left: 1010px;
	position: relative;
	bottom: 112px;
	font-size: 12px;
}
.div-lh i {
	font-size: 50px;
	color: #ea3a3c;
}
.div-lh span{
	position: relative;
	bottom: 25px;
	left: 5px;
	font-weight: bold;
}
.div-lh p{
	position: relative;
	left: 43px;
	bottom: 33px;
}

.div-search{
	background-color: #0881B9;
	width: 480px;
	height: 34px;
	border: solid 1px;
	border-color: #3C8CED;
	padding-left: 5px;
	position: relative;
	bottom: 58px;
	margin: auto;
}
#search-style{
	height: 34px;
	width: 480px;
	font-weight: 400;
	font-size: 12px;
	background-color:#0881B9;
	margin-left:10px;
	border:none; 
}

::-webkit-input-placeholder {
   color: #CDE5F1;
   font-size: 12px;
   font-family: sans-serif; 
 }

 .icon-search-style{
 	width: 35px;
 	height: 36px;
 	background-color: #045A82;
 	position: relative;
 	left: 480px;
 	bottom: 35px;
 }
#icon-search{
	width: 17.56px;
	height: 17.7px;
	position: absolute;
	color: #FFFFFF;
	font-size:16px;
	font-weight: 400;
	position: relative;
	left:5px;
	top:9px;
	border: none;
	background: #045A82;
}
/* thanh menu */
.header-menu{
	width:1170px;
	height: 40px;
	margin: auto;
	position: relative;
	bottom: 87px;
}
#menu ul{
	list-style-type: none;
	background: #0881B9;
	position: relative;
	bottom:16px;
	padding: 0px;
}
#menu ul li{ 
	display: inline-table;
	width: 126px;
	height: 40px;
	line-height: 40px;
	font-size:12px;
	font-weight: bold;
	text-align: center;
}
#menu ul li a{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#menu ul li a:hover{
	background: #055174;
	color: #FFFFFF;
}
/* Giỏ hàng */
#nz-div-2 div.tde :after {
    content: "";
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-right: 15px solid #EA3A3C;
    border-bottom: 19px solid transparent;
    border-left: 0 solid transparent;
    position: absolute;
    top: 0px;
    left: -15px;
}

#nz-div-2 div.tde span {
	font-weight: bold;
	font-size: 12px;
    background: #EA3A3C;
    padding: 10px 16px 10px 16px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

#nz-div-2 div.tde {
    margin: 15px 0;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
}
.gh-div{
	width: 150px;
	max-width:150px;
	position: relative;
	bottom: 72px;
	left: 87.1%;
}




