body{
	font-family:Arial, Helvetica,sans-serif;
}
.log-style{
	width: 1170px;
	margin: auto;
}
.div-kv1{
	width:1170px;
	height: 50px; 
}
hr{
	border: solid 1px;
	border-color: #DDDDDD;
}
h2{
	font-weight: 400;
	font-size: 20px;
	color:#444444;
}
.div-lg{
	width: 555px;
	height: 357px;
}
.div-lg h2{
	font-weight: 500;
	font-size: 30px;
	color:#444444;
}
.div-lg p{
	font-weight: bold;
	font-size: 12px;
	color:#444444;
}
.div-lg input{
	width: 555px;
	height: 34px;
	border:none;
	background-color: #f1f1f1;
}
.div-lg button{
	width: 112px;
	height: 32px;
	border:none;
	background-color: #009688;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}
.div-lg button:hover{
	background-color: #00635A;
}
.div-re{
	position: relative;
	bottom: 298px;
	left:590px;
}
.err{
	height: 35px;
	line-height: 35px;
	border-top: solid;
	border-color: #009688;
	background-color: #f1f1f1;
	font-size: 13px;
	font-weight: bold;
	color:#444444;
}
.err span{
	color: red;
}

