body{
	font-family:Arial, Helvetica,sans-serif;
	padding: 0px;
}
.style-kv{
	width: 1170px;
	height: 1500px;
	margin: auto;
}
.kv1{
	width: 100%;
	height:51px;
}
.kv2{
	width: 300px;
	height: 727px;
	max-width: 270px;
	max-height: 691px;
	border: solid 1px;
	border-color: #DDD;
}
.div1{
	widows: 270px;
	height: 40px;
	line-height: 40px;
	background-color: #009688;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.kv3{
	width: 870px;
	height: 1031px;
	margin-left: auto;
	position: relative;
	bottom: 695px;
}
.pt-css{
	width: 100%;
	height: 40px;
	border: solid 1px;
	border-color: #DDDDDD;
}
#menu-pt ul{
	list-style-type: none;
	text-align: center;
}
#menu-pt ul li{
	display: inline-table;
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: relative;
	bottom: 12px;

}
#menu-pt ul li a{
	color: #19070B;
	text-decoration: none;
	display: block;
}
#menu-pt ul li a:hover{
	background-color:#009688;
	color: #fff;
}
.opt{
	width: 28px;
	height: 28px;
	border: solid 1px;
	border-color: #DDDDDD;
}

.style-SP{
	width: 195px;
	height: auto;
	min-height: 342px;
	border:solid 1px;
	border-color: #DDDDDD;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-right: 14.3px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.ct-sp{
	position: relative;
	top: 15px;
}
#img-s{
	display: block;
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 230px;
	margin: auto;
}
.div-t a {
	font-weight: bold;
	font-size: 14px;
	color: #0C749C;
	text-decoration: none;
}
.div-t a:hover{
	color: #879688;
}
.div-g span{
	font-weight: bold;
	font-size: 18px;
	color: #E74847;
}
.pt-st{
	background-color: #879688;
	width: 30px;
	height: 30px;
}

.mua p{
	width: 110px;
	background-color: red;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin-right: 0px;
	padding: 5px; 	
	margin: auto;
 }
 .mua a{
 	text-decoration: none;
}