#kv-home{
	height: 40px;
}
.div-gh{
	width: 1170px;
	margin: auto;
}
.div-gh h3{
	font-size: 30px;
	font-weight: 500;
	color: #444444;
}
.div-gh a{
	text-decoration: none;
}
.div-gh table{
	border: solid 1px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-color: #787878;
	color: #444444;
}
.div-gh th{
	border: solid 1px;
	font-size: 16px;
	font-weight: bold;
	border-color:#787878;
	padding: 15px;
}
.div-gh td{
	border: solid 1px;
	border-color: #787878;
	font-size: 17px;

}
.a a{
	padding: 10px;
	background-color: red;
	color: #fff;
	margin-left: 550px;
}
.form-gh input{
	margin-left:20px;
	margin-bottom: 20px;
	width: 350px;
	height: 35px;
}
.form-gh{
	font-size: 13px;
	font-weight: bold;
	color: #444444;
}
.form-gh button{
	margin-top: 20px;
	width: 112px;
	height: 32px;
	border:none;
	background-color: #009688;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}
.form-gh button:hover{
	background-color: #00635A;
}
.in-footer{
	margin-top: 200px;
}