.kv1{
	height: 50px;
}
.header-sp{
	width: 1170px;
	height: 1350px;
	margin: auto;
}
.menu-tl{
	width: 270px;
	height: auto;
	border: solid 1px;
	border-color: #ddd;
}
.dms{
	width: 100%;
	height: 35px; 
	line-height: 45px;	
	text-align: center;
	background-color: #009688;
	color: #FFF;
	position: relative;
	bottom: 9px;
	
}
.dmtl ul{
	list-style-type: none;
}
.dmtl ul li{
	border-bottom: solid 1px;
	border-color: #DDDDDD;
	position: relative;
	right: 8px;
}
.dmtl ul li a{
	height: 30px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #128EC2;
}
.dmtl ul li a:hover{
	color: #009688;
}
.tttl{
	width: 870px;
	height: 500px;
	margin-left: auto;
	position: relative;
	bottom:413px;
}
.anh{
	width: 420px;
	height: auto;
}
.img1{
	display: block;
	width: auto;
	height: auto;
	max-width: 450px;
	max-height: 600px;
	margin:auto;
}
.tt-sp{
	width: 450px;
	height: 450px;
	margin-left: auto;
	position: relative;
	bottom:918px;
}
.gt-sp p{
	font-size: 20px;
	color: #009688;
	font-weight: bold;
}
.gt-sp span{
	font-size: 13px;
	color: #ea0000;
	font-weight: bold;
}
span .tc{
	color: #089ae5;
}
.table-sp{
	width: 100%;
	text-align: center;
	border-bottom: solid 1.5px;
	border-color: #DDD;
}
.table-sp tr{
	width: 420px;
	height: 36px;
}
.table-sp td{
	border-top: solid 1px;
	border-color: #DDD;
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	padding-left: 50px;
}
.giaSP{
	font-size: 18px;
	font-weight: bold;
	color: #ea0000;
	margin-bottom: 50px;
}
.gh{
	width: 170px;
	height: 36px;
	background-color: #F44336;
	text-align: center;
	position: relative;
	left: 120px;
}
.gh p{
	line-height: 36px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.mo_ta{
	width: 840px;
	height: 700px;
	position: relative;
	bottom: 850px;
	margin-left: auto;
}
.mo_ta p{
	width: 90px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	background-color: #787878;
	color: #fff;
	margin: 0px;
}
.mo_ta2{
	width: 840px;
	border:solid 1px;
	border-color: #DDD;
}
.mo_ta2 p{
	margin: 50px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	width: 700px;
	background-color: #fff;
	color: #787878;
}
.mo_ta2 img{
	width: 300px;
	height: 300px;
	margin: 50px;
	position: relative;
	left: 200px;
}
.mo_ta2 span{
	font-size: 12px;
	font-weight: 400;
	color: #444444;
}
